{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block index %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Create Assets</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if form.quantity %}
                <h6 class="m-0 font-weight-bold text-primary d-inline align-left">Create Multiple Assets</h6>
              {% else %}
                <h6 class="m-0 font-weight-bold text-primary d-inline align-left">Create Asset</h6>
              {% endif %}
            </div>
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.product_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.bom_name|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.warehouse_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.mfg_date|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  {% if form.quantity %}
                    <div class="form-group col-md-4 mb-0">
                      {{ form.quantity|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                      {{ form.asset_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                      {{ form.remarks|as_crispy_field }}
                    </div>
                  {% else %}
                    <div class="form-group col-md-6 mb-0">
                      {{ form.asset_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.remarks|as_crispy_field }}
                    </div>
                  {% endif %}
                </div>
                <input type="submit" class="btn btn-success align-left" value="Save" />
                <a class="btn btn-danger align-left" href="{% url 'asset-list' %}">
                  <!-- <i class="fas fa-indent"></i> -->
                  <span>Cancel</span>
                </a>
                    {% if form.non_field_errors %}
                      <div class="text-center">
                      <a class="small" style="color:red;">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </a>
                    </div>
                    {% endif %}
              </form>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

{% endblock %}

{% block pageLevelScripts %}

  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

  <script>

    $("#id_mfg_date").attr("autocomplete", "off");
    var picker = new Pikaday({ field: $('#id_mfg_date')[0] });

    $('#id_product_name, #id_bom_name, #id_warehouse_name').select2({
    placeholder: '---------',
    theme: 'bootstrap4',
  });


  </script>

{%endblock%}