{% extends 'base.html' %}
{% load static %}
{% load i18n staticfiles %}
{% block index %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Unit Of Measure List</h1>
          <p class="mb-4">Here is the list of Unit Of Measure.</p>
         <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary d-inline align-left">Unit Of Measure List 
              </h6>
              <a href="{% url 'uom-add' %}" class="btn btn-primary btn-circle float-right">
                <i class="fas fa-plus-circle" data-toggle="tooltip" data-placement="bottom" title="Create"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th> Unit Of Measure </th>
                      <th> Description </th>
                      <th> Updated </th>
                      <th> Created </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th> Unit Of Measure </th>
                      <th> Description </th>
                      <th> Updated </th>
                      <th> Created </th>
                    </tr>
                  </tfoot>
                  <tbody>
                   {% for objects in object_list %}
                    <tr>
                      <td> {{ objects.uom }} </td>
                      <td> {{ objects.description }} </td>
                      <td> {{ objects.updated }} </td>
                      <td> {{ objects.timestamp }} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block pageLevelScripts %}

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{%endblock%}