{% extends 'base.html' %}
{% load static %}
{% block index %}

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Domestic Invoice : {{ object.invoice_number }}
    {% if perms.inventory.change_domesticinvoice %}
      <a href="{% url 'domesticinvoice-update' pk=object.pk %}">
        <i class="fas fa-edit"></i>
      </a>
    {%endif%}
  </h1>
  <!-- <p class="mb-4">Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.</p> -->

  <!-- Content Row -->
  <div class="row">

    <!-- Border Left Utilities -->
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header py-3 border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Part Number</h6>
        </div>
        <div class="card-body">
          {{ object.part_number }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3 border-left-success">
          <h6 class="m-0 font-weight-bold text-success">Part Name</h6>
        </div>
        <div class="card-body">
          {{ object.part_name }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3 border-left-info">
          <h6 class="m-0 font-weight-bold text-info">Unit of Measure</h6>
        </div>
        <div class="card-body">
          {{ object.unit_of_measure }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Vedor Name</h6>
        </div>
        <div class="card-body">
          {{ object.vendor_name }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-success">
          <h6 class="m-0 font-weight-bold text-success">Vendor Code</h6>
        </div>
        <div class="card-body">
          {{ object.vendor_code }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-info">
          <h6 class="m-0 font-weight-bold text-info">Invoice Number</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_number }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Invoice Date</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_date }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-success">
          <h6 class="m-0 font-weight-bold text-success">Invoice Quantity</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_quantity }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-warning">
          <h6 class="m-0 font-weight-bold text-warning">Invoice Amount</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_amount }}
        </div>
      </div>
    </div>

    <!-- Border Bottom Utilities -->
    <div class="col-lg-6">
      

      <div class="card mb-4">
        <div class="card-header py-3  border-left-warning">
          <h6 class="m-0 font-weight-bold text-warning">Invoice GST %</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_gst }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-info">
          <h6 class="m-0 font-weight-bold text-info">Invoice GST Amount</h6>
        </div>
        <div class="card-body">
          {{ object.invoice_gst_amount }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Transport Charges</h6>
        </div>
        <div class="card-body">
          {{ object.transport_charges }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-success">
          <h6 class="m-0 font-weight-bold text-success">Total Invoice Amount</h6>
        </div>
        <div class="card-body">
          {{ object.total_invoice_amount }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-danger">
          <h6 class="m-0 font-weight-bold text-danger">Price per Part</h6>
        </div>
        <div class="card-body">
          {{ object.price_per_part }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Invoice Stage</h6>
        </div>
        <div class="card-body">
          {{ object.stage }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-success">
          <h6 class="m-0 font-weight-bold text-success">Remarks</h6>
        </div>
        <div class="card-body">
          {{ object.remarks }}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header py-3  border-left-warning">
          <h6 class="m-0 font-weight-bold text-warning">Last Updated</h6>
        </div>
        <div class="card-body">
          {{ object.updated }}
        </div>
      </div>
      {% if object.domestic_invoice %}

      <div class="card mb-4" >
        <div class="card-header py-3 border-left-primary">
          <h6 class="m-0 font-weight-bold text-primary">Invoice Documents</h6>
        </div>
        <div class="card-body">
          <a href="{{ object.domestic_invoice.url }}" target="_blank">Download</a>
        </div>
      </div>

      {% endif %}


    </div>

  </div>
</div>
{% endblock %}
